*{
	transition: all 0.3s linear;
}
@media (prefers-reduced-motion: reduce) {
	* {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}

body{
  font: 1rem $font-stack;
  color: $color-text-gray;
  background-color: $color-bg-dark;
}
div[class$='container']{
  max-width: $maxWidth;
  margin: auto;
}
.section-white{
  background: $color-text-white;
  color:$color-text-gray;
	h2{
		color:$color-text-dark;
	}
}
h2{
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 4rem;
	margin: 1.125rem 0;
}
p{
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.375rem;
}