$font-stack: 'Satoshi', sans-serif;
/*Colors*/
$color-text-dark: #151A25;
$color-text-gray-dark: #363636;
$color-text-gray: #676767;
$color-text-gray-desc: #A6A6A6;
$color-text-light-gray: #8C8C8C;
$color-text-white: #ffffff;
$color-primary-pink: #D6377F;
$color-primary-pink-rgba:rgba(214,55,127);
$color-secondary-pink: #E61053;
$color-secondary-blur: #69b5f3;
$color-bg-dark: #151A25;
$color-bg-white: #ffffff;
$linear-gradient:linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
$color-text-desc-light-gray: #CECECF;

/*Width*/
$minWidth: 320px;
$maxWidth: 1320px;
