$font-stack: 'Satoshi', sans-serif;
/*Colors*/
$color-text-dark: #151A25;
$color-text-gray-dark: #363636;
$color-text-gray: #676767;
$color-text-light-gray: #8C8C8C;
$color-text-white: #ffffff;
$color-primary-pink: #D6377F;
$color-secondary-pink: #E61053;
$color-bg-dark: #151A25;
$color-bg-white: #ffffff;

/*Width*/
$minWidth: 320px;
$maxWidth: 1320px;
