@mixin icon($name) {
  &__ico_#{$name} {
    background: url("../images/icons/#{$name}.svg") no-repeat center;
  }
}

.feature-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  &__item{
    width: 298px;
    height: 169px;
    margin-right: 16px;
    background: $color-text-dark + cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include icon("speakers");
  @include icon("sessions");
  @include icon("days");  
  &__title{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color:$color-text-white;
    padding: 0;
    margin: 0;
  }
}
div[class^="feature-list__ico"]{
  min-height:24px;
  width: 30px;
  margin-bottom: 12px;
}