.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  color: $color-text-white;
  &__text{  
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 4px;
    span{
      font-weight: 900;
    }
  }
  $__img{
    padding-right: 12px;
    img{
      width: 3.4375rem;
      height: 3.75rem;
    }
  }
}