mixin li-with-icon(prefix, icon, title, desc) 
  li(class=prefix+ '__item')
    div(class=prefix+ '__ico'+ '_'+ icon)
    p(class=prefix+ '__title')=title 
    if desc
      p(class=prefix+ '__desc')= desc