include ../components/button-circle.pug

section.designers-meetup
  div.designers-meetup__container
    h1 Designer’s&nbsp;Meetup 2023
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit quis dui lacus. Aenean purus ut ac sit. Nullam habitant at tempus ut. Enim turpis sollicitudin magna nunc facilisis id commodo.
    div.designers-meetup__date-and-place
      p.designers-meetup__date 02 Feb 2023
      p.designers-meetup__place Bangabandhu International Conference Center
    +button-circle("#",["button-circle__link_down"])
