include ../components/list-item-with-icon.pug

section.meet-and-learn
   div.meet-and-learn__container
    h2 Meet&nbsp;&#38;&nbsp;Learn from Community&nbsp;Leaders
    ul.feature-list
      +li-with-icon("feature-list", "speakers", "40+ Speaker", false) 
      +li-with-icon("feature-list", "sessions", "60+ Session", false) 
      +li-with-icon("feature-list", "days", "3 Days Event", false) 
    